<div class="p-10">

  <ul class="list-disc">
    <li><%= link_to "Session (CookieStore) vs Cookies", session_vs_cookies_path, class: "underline text-blue-600" %></li>
    <li><%= link_to "Types of Cookies", types_of_cookies_path, class: "underline text-blue-600" %></li>
  </ul>

</div>